.homepage-container {
  background-image: url("../../assets/background.jpg");
  height: 100vh;
  background-size: cover;
  color: white;
  padding: 50px;
}

#home-title {
  margin: 0;
  
}

#home-desc-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin-top: 15vh;
  background-color: #325939;
  padding: 25px;
  border-radius: 30px;
  opacity: .9;
}

#home-shop-button {
  margin-top: 10vh;
  margin-left: 60%;
  width: 200px;
  height: 50px;
  background-color: royalblue;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}